# Blog
BASE_API_URL=https://jsonplaceholder.typicode.com
PAGE_SIZE=6

# Supabase connection string
# (e.g. postgresql://[YOUR-USERNAME]:[YOUR-PASSWORD]@aws-0-eu-central-1.pooler.supabase.com:6543/postgres)
DATABASE_URL=<your_supabase_database_url>
